<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1 class="text-center text-5xl text-red-500 my-10">Admin  Dashboard</h1>
  <div class="container flex justify-between flex-wrap m-auto">
    <!-- total Revenue -->
    <div class="container m-5 p-5 h-32 min-w-64 max-w-md border border-b-4 border-purple-500 rounded-lg shadow-lg bg-gradient-to-br from-purple-300 to-purple-100">
    <div class="flex justify-between">
      <div class="text-xl font-semibold text-gray-800">Total Revenue</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        strokeWidth={1.5}
        stroke="currentColor"
        class="w-6 h-6 text-indigo-600"
        >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z"
        />
      </svg>
    </div>
    <div class="flex justify-center mt-3 text-3xl text-green-600 font-bold">
      <div>₹3,249,990</div>
    </div>
  </div>
  <!-- total user -->
  <div class="container m-5 p-5 h-32 min-w-64 max-w-md border border-b-4 border-blue-500 rounded-lg shadow-lg bg-gradient-to-br from-blue-300 to-blue-100">
    <div class="flex justify-between">
      <div class="text-xl font-semibold text-gray-800">Total User</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        strokeWidth={1.5}
        stroke="currentColor"
        class="w-6 h-6 text-indigo-600"
        >
        <path
        strokeLinecap="round"
        strokeLinejoin="round"
          d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z"
        />
      </svg>
    </div>
    <div class="flex justify-center mt-3 text-3xl text-green-600 font-bold">
      <div>235</div>
    </div>
  </div>
<!-- total new users -->
  <div class="container m-5 p-5 h-32 min-w-64 max-w-md border border-b-4 border-green-500 rounded-lg shadow-lg bg-gradient-to-br from-green-300 to-green-100">
    <div class="flex justify-between">
      <div class="text-xl font-semibold text-gray-800">New Users</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        strokeWidth={1.5}
        stroke="currentColor"
        class="w-6 h-6 text-indigo-600"
      >
      <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"
        />
      </svg>
    </div>
    <div class="flex justify-center mt-3 text-3xl text-green-600 font-bold">
      <div>23</div>
    </div>
  </div>
</div>
<div class="container flex flex-wrap justify-between mx-auto my-5">
  <div style="mx-auto" >
    <h2 class="text-center font-bold text-2xl	my-2">Revenue</h2>
    <canvas id="myChart" style="width: 400px; height : 300px"></canvas>
  </div>
  <div style="mx-auto" >
    <h2 class="text-center font-bold text-2xl	my-2">Feedback</h2>
    <canvas id="myChart2" style="width: 305px; height : 300px"></canvas>
  </div>
  <div style="mx-auto" >
    <h2 class="text-center font-bold text-2xl	my-2">New Users</h2>
    <canvas id="myChart3" style="width: 400px; height : 300px"></canvas>
  </div>
  </div>
    
    
<!-- top 5 products  -->
<h1 class="text-center text-3xl my-10 text-red-500">Top Products</h1>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Product name
              </th>
              <th scope="col" class="px-6 py-3">
                  Category
              </th>
              <th scope="col" class="px-6 py-3">
                  Prize
              </th>
              <th scope="col" class="px-6 py-3">
                  Action
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Apple MacBook Pro 17"
              </th>
              <td class="px-6 py-4">
                  Laptop
              </td>
              <td class="px-6 py-4">
                  ₹2999
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
          </tr>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Microsoft Surface Pro
              </th>
              <td class="px-6 py-4">
                  Laptop PC
              </td>
              <td class="px-6 py-4">
                  ₹1999
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
          </tr>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Magic Mouse 2
              </th>
              <td class="px-6 py-4">
                  Accessories
              </td>
              <td class="px-6 py-4">
                  ₹99
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
          </tr>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Google Pixel Phone
              </th>
              <td class="px-6 py-4">
                  Phone
              </td>
              <td class="px-6 py-4">
                  ₹799
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
          </tr>
          <tr>
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Apple Watch 5
              </th>
              <td class="px-6 py-4">
                  Wearables
              </td>
              <td class="px-6 py-4">
                  ₹999
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
<!-- //top 5 user with most buys -->
<h1 class="text-center text-3xl my-10 text-red-500">Top Users</h1>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  User name
              </th>
              <th scope="col" class="px-6 py-3">
                  User Id
              </th>
              <th scope="col" class="px-6 py-3">
                  No of Buys
              </th>
              <th scope="col" class="px-6 py-3">
                  Action
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Ankit
              </th>
              <td class="px-6 py-4">
                  abc
              </td>
              <td class="px-6 py-4">
                  21
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
          </tr>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Rohit
              </th>
              <td class="px-6 py-4">
                  abs
              </td>
              <td class="px-6 py-4">
                  19
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
          </tr>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Suraj
              </th>
              <td class="px-6 py-4">
                  dae
              </td>
              <td class="px-6 py-4">
                  14
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
          </tr>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Alice
              </th>
              <td class="px-6 py-4">
                  dtec
              </td>
              <td class="px-6 py-4">
                  10
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
          </tr>
          <tr>
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Agent
              </th>
              <td class="px-6 py-4">
                  tya
              </td>
              <td class="px-6 py-4">
                  3
              </td>
              <td class="px-6 py-4">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
          </tr>
      </tbody>
  </table>
</div>








      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.tailwindcss.com"></script>
      
      <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', "Jul", "Aug" ,"Sep","Oct","Nov", "Dec"],
            datasets: [{
              label: 'Revenue',
              data: [2, 1, 3, 5, 2, 3,5, 1, 4, 8, 2, 6],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        const ctx2 = document.getElementById('myChart2');
      
        new Chart(ctx2, {
          type: 'doughnut',
          data: {
            labels: ['Excellent', 'Good', 'Okay', 'Bad', 'Very Bad'],
            datasets: [{
              label: '# of Votes',
              data: [12, 2, 3, 5, 1],
              borderWidth: 1
            }]
          },
          hoverOffset: 8
        });


        const ctx3 = document.getElementById('myChart3');
      
        new Chart(ctx3, {
          type: 'line',
          data: {
            labels: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri','Sat'],
            datasets: [{
              label: 'New User',
              data: [2, 0, 3, 7, 2, 3,0],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                  ticks: {
                  stepSize: 1
              }
              }
            }
          }
        });

    </script>



</body>
</html>
